<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Add</h1>
    <form action="add" method='POST'>
        
        {% csrf_token %}
        <input type="text" name="first_name"><br><br>
        <input type="submit">

    </form>
    <br>
    <h1>Fetch dB</h1>
    <form action="rtrvdata" method='POST'>
        {% csrf_token %}
        <input type="submit" name="rtrvdata">

    </form>

</body>
</html>